.HMcardImg{
    background-color: #5162FA;
    /* width: 100%; */
    /* height: 100%; */
    border-radius: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    width: 62px;
}
.HMbox{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 20px;
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
}
.HMcard{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
    
}
.HMcardTitle{
    font-family: 'Inter';
font-size: 16px;
font-weight: 500;
line-height: 19px;
letter-spacing: 0em;
text-align: center;

}
.HMImgcover{
    max-width: fit-content;
}
.HMcard a{
    text-decoration: none;
}